/* CSS Document */
body{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background:url(../img/bg.gif);
}
a:link {
	color: #222222;
	text-decoration: none;
}
a:visited {
	color: #3c5b91;
	text-decoration: none;
}
a:hover {
	color: #3c5b91;
}
a:active {
	color: #0066cc;
}
h1 {font-size:22px; }

#all_content{
width:1004px;

margin:0px auto;
background:#FFFFFF;
}
#h1{
width:1004px;
height:355px;
margin:0px auto;
}
#dh{
width:1004px;
height:54px;
background:url(../img/1.jpg) repeat-x;
}
#dh a{
display:block;
float:left;
width:93px;
height:31px;
margin-left:6px;
margin-top:11px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
text-align:center;
padding-top:7px;
color:#FFFFFF;
text-decoration:none;
}
#dh a:link,#dh a:visited{
display:block;
float:left;
width:93px;
height:31px;
margin-left:6px;
margin-top:11px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
text-align:center;
padding-top:7px;
color:#FFFFFF;
text-decoration:none;
}
#dh a:hover{
display:block;
float:left;
width:93px;
height:28px;
background:url(../img/2.jpg) no-repeat;
font-size:14px;
padding-top:10px;
font-weight:600;
color:#0033CC;
}
#content{
width:1004px;
margin:0px auto;
/*height:610px;*/
background:#F6F7F9;

}
#left{
float:left;
width:759px;
/*height:390px;*/
margin-top:10px;
}
#right{
float:left;
width:238px;

margin-top:10px;
margin-left:7px;

}
#c1{
float:left;
width:378px;
height:350px;
}
#c2{
float:left;
width:381px;
height:350px;
}
#c3{
float:left;
}
#c11{
width:378px;
height:41px;
background:url(../img/3.jpg) no-repeat;

}
#c12{
height:247px;
width:378px;
margin-top:10px;
}
#c13{
text-align:right;
}#cc{
width:381px;
height:247px;
margin-top:10px;
}
#c21{
width:381px;
height:41px;
background:url(../img/4.jpg) no-repeat;
}
#c22{width:171px;
height:155px;
float:right;
margin:5px;

}
#c23{

padding:10px;
padding-top:0px;
padding-bottom:0px;
line-height:180%;
color:#333333;

}
#c24{
clear:both;
text-align:right;
}
#gd{
height:41px;
}
#r2{
width:238px;
height:300px;
background:#EBECEE;
}
#r2 a:link,#r2 a:visited{
text-decoration:none;

}
#r4{
width:238px;
height:200px;
background:#EBECEE;
}
#bottom{
height:34px;
width:1004px;
margin:0px auto;
background:url(../img/9_1.jpg) repeat-x;
text-align:center;
font-size:14px;
color:#FFFFFF;
padding-top:15px;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
* { margin:0; padding:0; list-style:none;}
.c_subNav { width:238px;
/*margin-left:22px;*/
 }
.c_subNav table { width:100%; border-collapse:collapse;}
.c_subNav a { text-decoration:none; color:#333;}
.c_subNav a:hover { color:#f60;}
.c_subNav ul ul { position:absolute; visibility:hidden; right:-150px; top:-1px;}
.c_subNav li { border-bottom:1px solid #ccc; position:relative; _position:static; float:left; width:100%; background:url(../img/14.jpg) repeat right; }
.c_subNav a.li { position:relative;}
.c_subNav li .option { display:block; line-height:15px; padding:10px 5px 3px 35px; background:no-repeat 5px 4px; cursor:pointer; font:14px Verdana; zoom:1;}
.c_subNav li .option:hover { color:#f60; background-color:#ffa;}
.c_subNav li .option span { display:block; padding-right:15px; background:url(img/ico.gif) no-repeat right 0;}
.c_subNav li .option:hover span { background-position:right -15px;}
.c_subNav .li:hover { z-index:2; background:transparent;}
.c_subNav .li:hover ul { visibility:visible;}
.c_subNav .li:hover ul ul { visibility:hidden;}
.c_subNav .li:hover ul { border:1px solid #ccc; border-width:1px 2px 2px 1px; width:150px; background:#fff; padding:1px;}
.c_subNav .li:hover li { border-bottom:none;}
.c_subNav .li:hover li .option { padding:2px 5px; background:transparent;}
.c_subNav .li:hover li .option:hover { background:#0096ff; color:#fff;}
.c_subNav .li:hover li .option:hover span { background-position:right -30px;}
.c_subNav .li:hover .li:hover ul { visibility:visible; left:145px; top:-2px;}
/*---Õº±Í≤Ó“Ï---*/
.c_subNav .charges .option { background-position:4px -45px;}
.c_subNav .biz .option { background-position:4px -70px;}
.c_subNav .change .option { background-position:4px -95px;}
.c_subNav .score .option { background-position:4px -120px;}
.c_subNav .server .option { background-position:4px -145px;}
.c_subNav .edit .option { background-position:4px -170px;}
.c_subNav .sms .option { background-position:4px -195px;}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#r_1{
width:238px;
height:42px;
background:url(../img/13.jpg) no-repeat;
}
#r_2{
width:238px;

height:335px;
}
#r_3{
margin-top:8px;
}#ah4{
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
line-height:28px;
}
.daile1{
border-bottom:2px solid #999999;
}
.daile{
border-bottom:1px dotted #999999;
}
